LOCAL_PROVIDER=local-vagrant
LOCAL_VAGRANT_PROVIDER=vmware_desktop
LOCAL_VAGRANT_BOX=bento/ubuntu-22.04

LOCAL_DEV_PROJECT=dev-env-local
LOCAL_DEV_POSTGRES_PORT=5432
LOCAL_DEV_POSTGRES_DB=app
LOCAL_DEV_POSTGRES_USER=app
LOCAL_DEV_POSTGRES_PASSWORD=app
LOCAL_DEV_REDIS_PORT=6379
LOCAL_DEV_KAFKA_PORT=9092

CONTROL_PLANE_CPUS=4
CONTROL_PLANE_MEMORY_MB=4096
CONTROL_PLANE_DISK_SIZE=30GB
WORKER_CPUS=4
WORKER_MEMORY_MB=4096
WORKER_DISK_SIZE=30GB
ANSIBLE_INVENTORY=provision/ansible/inventory.ini
KUBERNETES_APT_RELEASE=v1.34
KUBERNETES_POD_NETWORK_CIDR=192.168.0.0/16
KUBERNETES_NODE_READY_TIMEOUT=300s
CALICO_VERSION=v3.31.4
