.git
.env
.env.*
.gradle
.vagrant
.idea
.vscode
*.tfvars
*.pem
id_rsa*
kubeconfig*
*secret*
*credential*
*token*

**/build
**/.vagrant
**/bin
**/out
**/target

dashboard/node_modules
dashboard/dist

temp
tmp
tests/e2e/newman/reports

.DS_Store
*.log
