LOCAL_PROVIDER=local-vagrant
LOCAL_VAGRANT_PROVIDER=vmware_desktop
LOCAL_VAGRANT_BOX=bento/ubuntu-22.04

LOCAL_DEV_PROJECT=cloudnative-local
LOCAL_DEV_POSTGRES_PORT=5432
LOCAL_DEV_POSTGRES_DB=app
LOCAL_DEV_POSTGRES_USER=app
LOCAL_DEV_POSTGRES_PASSWORD=app
LOCAL_DEV_REDIS_PORT=6379
LOCAL_DEV_KAFKA_PORT=9092
LOCAL_DEV_KAFKA_ADVERTISED_HOST=10.10.10.1

CONTROL_PLANE_CPUS=2
CONTROL_PLANE_MEMORY_MB=3072
CONTROL_PLANE_DISK_SIZE=30270

WORKER_CPUS=2
WORKER_MEMORY_MB=2048
WORKER_DISK_SIZE=30270

ANSIBLE_INVENTORY=provision/ansible/inventory.ini

KUBERNETES_APT_RELEASE=v1.34
KUBERNETES_POD_NETWORK_CIDR=192.168.0.0/16
KUBERNETES_NODE_READY_TIMEOUT=300s
KUBEADM_IMAGE_PULL_TIMEOUT=600s
KUBEADM_INIT_TIMEOUT=600s
CALICO_NODE_READY_TIMEOUT=600s
CALICO_IMAGE_PULL_TIMEOUT=300s
CALICO_VERSION=v3.31.4

LOCAL_REGISTRY_HOST=10.10.10.10
LOCAL_REGISTRY_PORT=5000
LOCAL_REGISTRY_STORAGE_PATH=/var/lib/docker-registry
LOCAL_VM_SSH_PRIVATE_KEY=$(HOME)/.ssh/cloudnative-vagrant/control-plane-1
APP_NAMESPACE=medical-platform
METRICS_SERVER_VERSION=v0.8.1
METRICS_SERVER_WAIT_TIMEOUT=300s
IMAGE_TAG=latest
REGISTRY_PULL_TEST_IMAGE=10.10.10.10:5000/api-gateway:latest
