LOCAL_PROVIDER=local-vagrant
LOCAL_VAGRANT_PROVIDER=vmware_desktop
LOCAL_VAGRANT_BOX=bento/ubuntu-22.04

CONTROL_PLANE_CPUS=2
CONTROL_PLANE_MEMORY_MB=3072
CONTROL_PLANE_DISK_SIZE=30270

WORKER_CPUS=2
WORKER_MEMORY_MB=2048
WORKER_DISK_SIZE=30270

ANSIBLE_INVENTORY=provision/ansible/inventory.ini

KUBERNETES_APT_RELEASE=v1.34
KUBERNETES_POD_NETWORK_CIDR=192.168.0.0/16
KUBERNETES_NODE_READY_TIMEOUT=300s
CALICO_VERSION=v3.31.4
